<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Flight reservation app</title>


	<link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}"/>

</head>
<body>
<div class="cart">0

	<div class="container">
		<img src="/img/logo.png" alt="Flight reservation logo" class="logo">
		<h3>Flight reservation web app created by Pankaj</h3>
		<p>
			Click here to register for a new user <a th:href="@{showreg}">Register</a>
		</p>
		<p>
			Existing user click here to login <a th:href="@{showlogin}">Login</a>
		</p>
	</div>
	</div>
</body>
</html>
