<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register user</title>
</head>
<body>

<form action="registration" method="post" >
<h1 align="center">Registration Form</h1>
<pre>

first name: <input type="text" name="firstname"/>
last name: <input type="text" name="lastname"/>
email id: <input type="text" name="emaill"/>
password: <input type="password" name="password"/>
confirm password: <input type="password" name="confirmpassword"/>
<input type="submit"  value="register"/>
</pre>
</form>


</body>
</html>